torch
torchvision
Pillow
gdown
numpy
scipy
cmake
onnxruntime-gpu
opencv-python-headless
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability